$grid-width: 114rem;

$color-white: #fff;
$color-black: #131212;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-grey-verydark: #141414;

$color-orange-light: #FFD166;
$color-orange-medium: #FF9505;
$color-orange-dark: #EC4E20;

$color-blue-deep: #2B7EE3;
$color-blue-light: #63BEEB;

$color-silver-light: #C0C0C0;
