@font-face {
  font-family: 'datalegreya_dot';
  src: url(../assets/fonts/datalegreya/Datalegreya-Dot.otf) format('opentype');
}

@font-face {
  font-family: 'cooper_hewitt';
  src: url(../assets/fonts/cooper-hewitt/CooperHewitt-Light.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'cooper_hewitt';
  src: url(../assets/fonts/cooper-hewitt/CooperHewitt-Medium.otf) format('opentype');
  font-weight: 700;
}
